USE [master]
GO
/****** Object:  Database [CINE]    Script Date: 19/11/2023 20:13:06 ******/
CREATE DATABASE [CINE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CINE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CINE.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CINE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CINE_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CINE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CINE]
GO
/****** Object:  UserDefinedFunction [dbo].[f_promedio]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[f_promedio] 
	(
	@valor1 decimal (4,2), 
	@valor2 decimal (4,2)
	) 
returns decimal (6,2) 
as 
begin  
	declare @resultado decimal (6,2) 
	set @resultado = (@valor1 + @valor2) / 2 
	return @resultado  
end; 
GO
/****** Object:  Table [dbo].[ACTORES]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACTORES](
	[id_actor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[fecha_nac] [date] NULL,
	[id_pais_origen] [int] NULL,
 CONSTRAINT [pk_actor] PRIMARY KEY CLUSTERED 
(
	[id_actor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BARRIOS]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BARRIOS](
	[id_barrio] [int] IDENTITY(1,1) NOT NULL,
	[barrio] [varchar](50) NULL,
	[id_localidad] [int] NULL,
 CONSTRAINT [pk_barrio] PRIMARY KEY CLUSTERED 
(
	[id_barrio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BUTACAS]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUTACAS](
	[id_butaca] [int] IDENTITY(1,1) NOT NULL,
	[id_sala] [int] NULL,
	[id_estado] [int] NULL,
	[id_funcion] [int] NULL,
	[nro_butaca] [int] NULL,
	[id_posicion] [int] NULL,
 CONSTRAINT [pk_butaca] PRIMARY KEY CLUSTERED 
(
	[id_butaca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CLASIFICACIONES]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLASIFICACIONES](
	[id_clasificacion] [int] IDENTITY(1,1) NOT NULL,
	[clasificacion] [varchar](50) NULL,
 CONSTRAINT [pk_clasi] PRIMARY KEY CLUSTERED 
(
	[id_clasificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[dni] [int] NULL,
	[mail] [varchar](50) NULL,
	[telefono] [varchar](50) NULL,
	[fecha_nac] [date] NULL,
	[calle] [varchar](50) NULL,
	[nro] [int] NULL,
	[id_barrio] [int] NULL,
	[id_genero_cliente] [int] NULL,
	[id_tipo_cliente] [int] NULL,
	[fecha_alta] [datetime] NULL,
	[fecha_baja] [datetime] NULL,
 CONSTRAINT [pk_cliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMPROBANTES]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPROBANTES](
	[id_comprobante] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[id_cliente] [int] NULL,
	[id_forma_pago] [int] NULL,
 CONSTRAINT [pk_comprobante] PRIMARY KEY CLUSTERED 
(
	[id_comprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DET_COMPROBANTE]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DET_COMPROBANTE](
	[id_det_comprobante] [int] IDENTITY(1,1) NOT NULL,
	[precio_entrada] [decimal](10, 2) NULL,
	[id_comprobante] [int] NULL,
	[id_butaca] [int] NULL,
 CONSTRAINT [pk_det_compro] PRIMARY KEY CLUSTERED 
(
	[id_det_comprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DET_PELICULAS]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DET_PELICULAS](
	[id_det_pelicula] [int] IDENTITY(1,1) NOT NULL,
	[id_pelicula] [int] NULL,
	[id_actor] [int] NULL,
 CONSTRAINT [pk_det_peli] PRIMARY KEY CLUSTERED 
(
	[id_det_pelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIRECTORES]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DIRECTORES](
	[id_director] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[fecha_nac] [date] NULL,
	[id_pais_origen] [int] NULL,
 CONSTRAINT [pk_director] PRIMARY KEY CLUSTERED 
(
	[id_director] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ESTADOS]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTADOS](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[estado] [varchar](50) NULL,
 CONSTRAINT [pk_estado] PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FORMA_PAGOS]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FORMA_PAGOS](
	[id_forma_pago] [int] IDENTITY(1,1) NOT NULL,
	[forma_pago] [varchar](50) NULL,
 CONSTRAINT [pk_forma_pago] PRIMARY KEY CLUSTERED 
(
	[id_forma_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FUNCIONES]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCIONES](
	[id_funcion] [int] IDENTITY(1,1) NOT NULL,
	[id_pelicula] [int] NULL,
	[id_sala] [int] NULL,
	[fecha] [date] NULL,
	[hora_inicio] [time](7) NULL,
 CONSTRAINT [pk_funcion] PRIMARY KEY CLUSTERED 
(
	[id_funcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GENERO_CLIENTES]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GENERO_CLIENTES](
	[id_genero_cliente] [int] IDENTITY(1,1) NOT NULL,
	[genero_cliente] [varchar](50) NULL,
 CONSTRAINT [pk_gene_clien] PRIMARY KEY CLUSTERED 
(
	[id_genero_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GENEROS]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GENEROS](
	[id_genero] [int] IDENTITY(1,1) NOT NULL,
	[genero] [varchar](50) NULL,
 CONSTRAINT [pk_genero] PRIMARY KEY CLUSTERED 
(
	[id_genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IDIOMAS]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IDIOMAS](
	[id_idioma] [int] IDENTITY(1,1) NOT NULL,
	[idioma] [varchar](50) NULL,
 CONSTRAINT [pk_idioma] PRIMARY KEY CLUSTERED 
(
	[id_idioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOCALIDADES]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOCALIDADES](
	[id_localidad] [int] IDENTITY(1,1) NOT NULL,
	[localidad] [varchar](50) NULL,
	[id_provincia] [int] NULL,
 CONSTRAINT [pk_localidad] PRIMARY KEY CLUSTERED 
(
	[id_localidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAISES]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAISES](
	[id_pais] [int] IDENTITY(1,1) NOT NULL,
	[pais] [varchar](50) NULL,
 CONSTRAINT [pk_pais] PRIMARY KEY CLUSTERED 
(
	[id_pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PELICULAS]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PELICULAS](
	[id_pelicula] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NULL,
	[duracion] [time](7) NULL,
	[id_genero] [int] NULL,
	[id_clasificacion] [int] NULL,
	[id_idioma] [int] NULL,
	[id_subtitulo] [int] NULL,
	[id_director] [int] NULL,
	[doblaje] [bit] NULL,
	[id_produ] [int] NULL,
 CONSTRAINT [pk_peli] PRIMARY KEY CLUSTERED 
(
	[id_pelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[POSICIONES]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[POSICIONES](
	[id_posicion] [int] IDENTITY(1,1) NOT NULL,
	[posicion] [varchar](255) NOT NULL,
 CONSTRAINT [pk_pos] PRIMARY KEY CLUSTERED 
(
	[id_posicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCTORAS]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTORAS](
	[id_productora] [int] IDENTITY(1,1) NOT NULL,
	[productora] [varchar](50) NULL,
 CONSTRAINT [pk_produ] PRIMARY KEY CLUSTERED 
(
	[id_productora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROMOCIONES]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROMOCIONES](
	[id_promocion] [int] IDENTITY(1,1) NOT NULL,
	[promocion] [int] NULL,
 CONSTRAINT [pk_promo] PRIMARY KEY CLUSTERED 
(
	[id_promocion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROVINCIAS]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVINCIAS](
	[id_provincia] [int] IDENTITY(1,1) NOT NULL,
	[provincia] [varchar](50) NULL,
 CONSTRAINT [pk_provi] PRIMARY KEY CLUSTERED 
(
	[id_provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RESERVAS]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVAS](
	[id_reserva] [int] IDENTITY(1,1) NOT NULL,
	[id_butaca] [int] NULL,
 CONSTRAINT [pk_reserva] PRIMARY KEY CLUSTERED 
(
	[id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SALAS]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALAS](
	[id_sala] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_sala] [int] NULL,
 CONSTRAINT [pk_sala] PRIMARY KEY CLUSTERED 
(
	[id_sala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUBTITULOS]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBTITULOS](
	[id_subtitulo] [int] IDENTITY(1,1) NOT NULL,
	[id_idioma] [int] NULL,
 CONSTRAINT [pk_sub] PRIMARY KEY CLUSTERED 
(
	[id_subtitulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIPO_CLIENTES]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_CLIENTES](
	[id_tipo_cliente] [int] IDENTITY(1,1) NOT NULL,
	[tipo_cliente] [varchar](50) NULL,
	[id_promocion] [int] NULL,
 CONSTRAINT [pk_tipo_cliente] PRIMARY KEY CLUSTERED 
(
	[id_tipo_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPO_SALAS]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_SALAS](
	[id_tipo_sala] [int] IDENTITY(1,1) NOT NULL,
	[tipo_sala] [varchar](50) NULL,
 CONSTRAINT [pk_tipo_S] PRIMARY KEY CLUSTERED 
(
	[id_tipo_sala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[view_sp1]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view_sp1]
as
select c.id_cliente, apellido + ' ' + nombre Cliente, 'No Vino' Observaciones
from clientes c
join tipo_clientes tc on tc.id_tipo_cliente = c.id_tipo_cliente
join comprobantes co on co.id_cliente = c.id_cliente
join barrios b on b.id_barrio = c.id_barrio
where barrio in ('Alberdi')
and c.id_cliente not in (select id_cliente
	from comprobantes 
	where datediff(month, fecha, getdate()) = 1)
union
select c.id_cliente, apellido + ' ' + nombre, '+2 Pelis' 
from clientes c 
join comprobantes co on co.id_cliente = c.id_cliente
join det_comprobante dc on dc.id_comprobante = co.id_comprobante
join butacas b on b.id_butaca = dc.id_butaca
join funciones f on f.id_funcion = b.id_funcion
join peliculas p on p.id_pelicula = f.id_pelicula
where duracion > '02:00:00'
and 2 < (select count(*)
	from det_comprobante dc1
	join comprobantes co1 on co1.id_comprobante = dc1.id_comprobante
	join clientes c1 on c1.id_cliente = co1.id_cliente)
GO
SET IDENTITY_INSERT [dbo].[ACTORES] ON 

INSERT [dbo].[ACTORES] ([id_actor], [nombre], [apellido], [fecha_nac], [id_pais_origen]) VALUES (1, N'Tom', N'Hanks', CAST(N'1956-07-09' AS Date), 1)
INSERT [dbo].[ACTORES] ([id_actor], [nombre], [apellido], [fecha_nac], [id_pais_origen]) VALUES (2, N'Harrison', N'Ford', CAST(N'1942-07-13' AS Date), 1)
INSERT [dbo].[ACTORES] ([id_actor], [nombre], [apellido], [fecha_nac], [id_pais_origen]) VALUES (3, N'Scarlett', N'Johansson', CAST(N'1984-11-22' AS Date), 1)
SET IDENTITY_INSERT [dbo].[ACTORES] OFF
SET IDENTITY_INSERT [dbo].[BARRIOS] ON 

INSERT [dbo].[BARRIOS] ([id_barrio], [barrio], [id_localidad]) VALUES (1, N'Nueva Córdoba', 1)
INSERT [dbo].[BARRIOS] ([id_barrio], [barrio], [id_localidad]) VALUES (2, N'Güemes', 1)
INSERT [dbo].[BARRIOS] ([id_barrio], [barrio], [id_localidad]) VALUES (3, N'Alberdi', 1)
SET IDENTITY_INSERT [dbo].[BARRIOS] OFF
SET IDENTITY_INSERT [dbo].[BUTACAS] ON 

INSERT [dbo].[BUTACAS] ([id_butaca], [id_sala], [id_estado], [id_funcion], [nro_butaca], [id_posicion]) VALUES (91, 1, 2, 1, 1, NULL)
INSERT [dbo].[BUTACAS] ([id_butaca], [id_sala], [id_estado], [id_funcion], [nro_butaca], [id_posicion]) VALUES (92, 1, 3, 1, 2, NULL)
INSERT [dbo].[BUTACAS] ([id_butaca], [id_sala], [id_estado], [id_funcion], [nro_butaca], [id_posicion]) VALUES (93, 1, 1, 1, 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[BUTACAS] OFF
SET IDENTITY_INSERT [dbo].[CLASIFICACIONES] ON 

INSERT [dbo].[CLASIFICACIONES] ([id_clasificacion], [clasificacion]) VALUES (1, N'PG-13')
INSERT [dbo].[CLASIFICACIONES] ([id_clasificacion], [clasificacion]) VALUES (2, N'R')
INSERT [dbo].[CLASIFICACIONES] ([id_clasificacion], [clasificacion]) VALUES (3, N'G')
SET IDENTITY_INSERT [dbo].[CLASIFICACIONES] OFF
SET IDENTITY_INSERT [dbo].[CLIENTES] ON 

INSERT [dbo].[CLIENTES] ([id_cliente], [nombre], [apellido], [dni], [mail], [telefono], [fecha_nac], [calle], [nro], [id_barrio], [id_genero_cliente], [id_tipo_cliente], [fecha_alta], [fecha_baja]) VALUES (1, N'Guillermo', N'Meyer', 40404040, N'guillermomeyer@gmail.com', N'3512622793', CAST(N'2000-03-12' AS Date), N'Independencia', 700, 1, 1, 1, CAST(N'2023-10-26 00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[CLIENTES] ([id_cliente], [nombre], [apellido], [dni], [mail], [telefono], [fecha_nac], [calle], [nro], [id_barrio], [id_genero_cliente], [id_tipo_cliente], [fecha_alta], [fecha_baja]) VALUES (2, N'Javier', N'Milei', 0, N'@@@@', N'351', CAST(N'2000-04-13' AS Date), N'', 0, 3, 1, 2, CAST(N'2023-10-26 00:00:00.000' AS DateTime), CAST(N'2023-11-19 11:05:58.513' AS DateTime))
INSERT [dbo].[CLIENTES] ([id_cliente], [nombre], [apellido], [dni], [mail], [telefono], [fecha_nac], [calle], [nro], [id_barrio], [id_genero_cliente], [id_tipo_cliente], [fecha_alta], [fecha_baja]) VALUES (5, N'test', N'test', 0, N'', N'123', CAST(N'2007-10-26' AS Date), N'ad', 0, 1, 1, 1, CAST(N'2023-10-26 00:00:00.000' AS DateTime), CAST(N'2023-11-01 12:14:17.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CLIENTES] OFF
SET IDENTITY_INSERT [dbo].[COMPROBANTES] ON 

INSERT [dbo].[COMPROBANTES] ([id_comprobante], [fecha], [id_cliente], [id_forma_pago]) VALUES (1, CAST(N'2023-10-27' AS Date), 9, 1)
INSERT [dbo].[COMPROBANTES] ([id_comprobante], [fecha], [id_cliente], [id_forma_pago]) VALUES (2, CAST(N'2021-10-27' AS Date), 1, 1)
INSERT [dbo].[COMPROBANTES] ([id_comprobante], [fecha], [id_cliente], [id_forma_pago]) VALUES (3, CAST(N'2021-10-27' AS Date), 2, 1)
GO
SET IDENTITY_INSERT [dbo].[COMPROBANTES] OFF
SET IDENTITY_INSERT [dbo].[DET_COMPROBANTE] ON 

INSERT [dbo].[DET_COMPROBANTE] ([id_det_comprobante], [precio_entrada], [id_comprobante], [id_butaca]) VALUES (1, CAST(3600.00 AS Decimal(10, 2)), 4, 132)
INSERT [dbo].[DET_COMPROBANTE] ([id_det_comprobante], [precio_entrada], [id_comprobante], [id_butaca]) VALUES (3, CAST(3600.00 AS Decimal(10, 2)), 10, 141)
INSERT [dbo].[DET_COMPROBANTE] ([id_det_comprobante], [precio_entrada], [id_comprobante], [id_butaca]) VALUES (4, CAST(3600.00 AS Decimal(10, 2)), 11, 141)
GO
SET IDENTITY_INSERT [dbo].[DET_COMPROBANTE] OFF
SET IDENTITY_INSERT [dbo].[DET_PELICULAS] ON 

INSERT [dbo].[DET_PELICULAS] ([id_det_pelicula], [id_pelicula], [id_actor]) VALUES (4, 4, 2)
INSERT [dbo].[DET_PELICULAS] ([id_det_pelicula], [id_pelicula], [id_actor]) VALUES (5, 4, 3)
INSERT [dbo].[DET_PELICULAS] ([id_det_pelicula], [id_pelicula], [id_actor]) VALUES (6, 4, 4)
SET IDENTITY_INSERT [dbo].[DET_PELICULAS] OFF
SET IDENTITY_INSERT [dbo].[DIRECTORES] ON 

INSERT [dbo].[DIRECTORES] ([id_director], [nombre], [apellido], [fecha_nac], [id_pais_origen]) VALUES (1, N'Steven', N'Spielberg', CAST(N'1946-12-18' AS Date), 1)
INSERT [dbo].[DIRECTORES] ([id_director], [nombre], [apellido], [fecha_nac], [id_pais_origen]) VALUES (2, N'Martin', N'Scorsese', CAST(N'1942-11-17' AS Date), 1)
INSERT [dbo].[DIRECTORES] ([id_director], [nombre], [apellido], [fecha_nac], [id_pais_origen]) VALUES (3, N'Quentin', N'Tarantino', CAST(N'1963-03-27' AS Date), 1)
SET IDENTITY_INSERT [dbo].[DIRECTORES] OFF
SET IDENTITY_INSERT [dbo].[ESTADOS] ON 

INSERT [dbo].[ESTADOS] ([id_estado], [estado]) VALUES (1, N'Libre')
INSERT [dbo].[ESTADOS] ([id_estado], [estado]) VALUES (2, N'Ocupada')
INSERT [dbo].[ESTADOS] ([id_estado], [estado]) VALUES (3, N'Reservada')
SET IDENTITY_INSERT [dbo].[ESTADOS] OFF
SET IDENTITY_INSERT [dbo].[FORMA_PAGOS] ON 

INSERT [dbo].[FORMA_PAGOS] ([id_forma_pago], [forma_pago]) VALUES (1, N'Efectivo')
INSERT [dbo].[FORMA_PAGOS] ([id_forma_pago], [forma_pago]) VALUES (2, N'Tarjeta de Credito/Debito')
SET IDENTITY_INSERT [dbo].[FORMA_PAGOS] OFF
SET IDENTITY_INSERT [dbo].[FUNCIONES] ON 

INSERT [dbo].[FUNCIONES] ([id_funcion], [id_pelicula], [id_sala], [fecha], [hora_inicio]) VALUES (1, 2, 1, CAST(N'2023-01-05' AS Date), CAST(N'14:30:00' AS Time))
INSERT [dbo].[FUNCIONES] ([id_funcion], [id_pelicula], [id_sala], [fecha], [hora_inicio]) VALUES (2, 3, 2, CAST(N'2023-01-10' AS Date), CAST(N'16:45:00' AS Time))
INSERT [dbo].[FUNCIONES] ([id_funcion], [id_pelicula], [id_sala], [fecha], [hora_inicio]) VALUES (3, 4, 3, CAST(N'2023-02-15' AS Date), CAST(N'16:45:00' AS Time))
SET IDENTITY_INSERT [dbo].[FUNCIONES] OFF
SET IDENTITY_INSERT [dbo].[GENERO_CLIENTES] ON 

INSERT [dbo].[GENERO_CLIENTES] ([id_genero_cliente], [genero_cliente]) VALUES (1, N'Masculino')
INSERT [dbo].[GENERO_CLIENTES] ([id_genero_cliente], [genero_cliente]) VALUES (2, N'Femenino')
INSERT [dbo].[GENERO_CLIENTES] ([id_genero_cliente], [genero_cliente]) VALUES (3, N'Otros')
SET IDENTITY_INSERT [dbo].[GENERO_CLIENTES] OFF
SET IDENTITY_INSERT [dbo].[GENEROS] ON 

INSERT [dbo].[GENEROS] ([id_genero], [genero]) VALUES (1, N'Acción')
INSERT [dbo].[GENEROS] ([id_genero], [genero]) VALUES (2, N'Comedia')
INSERT [dbo].[GENEROS] ([id_genero], [genero]) VALUES (3, N'Drama')
SET IDENTITY_INSERT [dbo].[GENEROS] OFF
SET IDENTITY_INSERT [dbo].[IDIOMAS] ON 

INSERT [dbo].[IDIOMAS] ([id_idioma], [idioma]) VALUES (1, N'Inglés')
INSERT [dbo].[IDIOMAS] ([id_idioma], [idioma]) VALUES (2, N'Español')
INSERT [dbo].[IDIOMAS] ([id_idioma], [idioma]) VALUES (3, N'Francés')
SET IDENTITY_INSERT [dbo].[IDIOMAS] OFF
SET IDENTITY_INSERT [dbo].[LOCALIDADES] ON 

INSERT [dbo].[LOCALIDADES] ([id_localidad], [localidad], [id_provincia]) VALUES (1, N'Córdoba', 189)
INSERT [dbo].[LOCALIDADES] ([id_localidad], [localidad], [id_provincia]) VALUES (2, N'Villa Carlos Paz', 189)
INSERT [dbo].[LOCALIDADES] ([id_localidad], [localidad], [id_provincia]) VALUES (3, N'Río Cuarto', 189)
SET IDENTITY_INSERT [dbo].[LOCALIDADES] OFF
SET IDENTITY_INSERT [dbo].[PAISES] ON 

INSERT [dbo].[PAISES] ([id_pais], [pais]) VALUES (1, N'Estados Unidos')
INSERT [dbo].[PAISES] ([id_pais], [pais]) VALUES (2, N'Reino Unido')
INSERT [dbo].[PAISES] ([id_pais], [pais]) VALUES (3, N'España')
SET IDENTITY_INSERT [dbo].[PAISES] OFF
SET IDENTITY_INSERT [dbo].[PELICULAS] ON 

INSERT [dbo].[PELICULAS] ([id_pelicula], [titulo], [duracion], [id_genero], [id_clasificacion], [id_idioma], [id_subtitulo], [id_director], [doblaje], [id_produ]) VALUES (2, N'Jurassic Park', CAST(N'01:27:00' AS Time), 1, 1, 1, NULL, 1, 1, 1)
INSERT [dbo].[PELICULAS] ([id_pelicula], [titulo], [duracion], [id_genero], [id_clasificacion], [id_idioma], [id_subtitulo], [id_director], [doblaje], [id_produ]) VALUES (3, N'Forrest Gump', CAST(N'01:42:00' AS Time), 3, 2, 1, NULL, 2, 1, 2)
INSERT [dbo].[PELICULAS] ([id_pelicula], [titulo], [duracion], [id_genero], [id_clasificacion], [id_idioma], [id_subtitulo], [id_director], [doblaje], [id_produ]) VALUES (4, N'La La Land', CAST(N'01:28:00' AS Time), 2, 1, 1, 2, 3, 1, 3)
SET IDENTITY_INSERT [dbo].[PELICULAS] OFF
SET IDENTITY_INSERT [dbo].[PRODUCTORAS] ON 

INSERT [dbo].[PRODUCTORAS] ([id_productora], [productora]) VALUES (1, N'Warner Bros. Pictures')
INSERT [dbo].[PRODUCTORAS] ([id_productora], [productora]) VALUES (2, N'Universal Pictures')
INSERT [dbo].[PRODUCTORAS] ([id_productora], [productora]) VALUES (3, N'20th Century Fox')
SET IDENTITY_INSERT [dbo].[PRODUCTORAS] OFF
SET IDENTITY_INSERT [dbo].[PROMOCIONES] ON 

INSERT [dbo].[PROMOCIONES] ([id_promocion], [promocion]) VALUES (10, 10)
INSERT [dbo].[PROMOCIONES] ([id_promocion], [promocion]) VALUES (11, 20)
INSERT [dbo].[PROMOCIONES] ([id_promocion], [promocion]) VALUES (12, 40)
SET IDENTITY_INSERT [dbo].[PROMOCIONES] OFF
SET IDENTITY_INSERT [dbo].[PROVINCIAS] ON 

INSERT [dbo].[PROVINCIAS] ([id_provincia], [provincia]) VALUES (161, N'Buenos Aires')
INSERT [dbo].[PROVINCIAS] ([id_provincia], [provincia]) VALUES (162, N'Catamarca')
INSERT [dbo].[PROVINCIAS] ([id_provincia], [provincia]) VALUES (163, N'Chaco')
SET IDENTITY_INSERT [dbo].[PROVINCIAS] OFF
SET IDENTITY_INSERT [dbo].[SALAS] ON 

INSERT [dbo].[SALAS] ([id_sala], [id_tipo_sala]) VALUES (1, 1)
INSERT [dbo].[SALAS] ([id_sala], [id_tipo_sala]) VALUES (2, 1)
INSERT [dbo].[SALAS] ([id_sala], [id_tipo_sala]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[SALAS] OFF
SET IDENTITY_INSERT [dbo].[SUBTITULOS] ON 

INSERT [dbo].[SUBTITULOS] ([id_subtitulo], [id_idioma]) VALUES (1, 1)
INSERT [dbo].[SUBTITULOS] ([id_subtitulo], [id_idioma]) VALUES (2, 2)
INSERT [dbo].[SUBTITULOS] ([id_subtitulo], [id_idioma]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[SUBTITULOS] OFF
SET IDENTITY_INSERT [dbo].[TIPO_CLIENTES] ON 

INSERT [dbo].[TIPO_CLIENTES] ([id_tipo_cliente], [tipo_cliente], [id_promocion]) VALUES (1, N'Plata', 10)
INSERT [dbo].[TIPO_CLIENTES] ([id_tipo_cliente], [tipo_cliente], [id_promocion]) VALUES (2, N'Oro', 11)
INSERT [dbo].[TIPO_CLIENTES] ([id_tipo_cliente], [tipo_cliente], [id_promocion]) VALUES (3, N'Diamante', 12)
SET IDENTITY_INSERT [dbo].[TIPO_CLIENTES] OFF
SET IDENTITY_INSERT [dbo].[TIPO_SALAS] ON 

INSERT [dbo].[TIPO_SALAS] ([id_tipo_sala], [tipo_sala]) VALUES (1, N'Estándar')
INSERT [dbo].[TIPO_SALAS] ([id_tipo_sala], [tipo_sala]) VALUES (2, N'Premium')
INSERT [dbo].[TIPO_SALAS] ([id_tipo_sala], [tipo_sala]) VALUES (3, N'3D')
SET IDENTITY_INSERT [dbo].[TIPO_SALAS] OFF
ALTER TABLE [dbo].[ACTORES]  WITH CHECK ADD  CONSTRAINT [fk_pais1] FOREIGN KEY([id_pais_origen])
REFERENCES [dbo].[PAISES] ([id_pais])
GO
ALTER TABLE [dbo].[ACTORES] CHECK CONSTRAINT [fk_pais1]
GO
ALTER TABLE [dbo].[BARRIOS]  WITH CHECK ADD  CONSTRAINT [fk_localidad] FOREIGN KEY([id_localidad])
REFERENCES [dbo].[LOCALIDADES] ([id_localidad])
GO
ALTER TABLE [dbo].[BARRIOS] CHECK CONSTRAINT [fk_localidad]
GO
ALTER TABLE [dbo].[BUTACAS]  WITH CHECK ADD  CONSTRAINT [fk_estado] FOREIGN KEY([id_estado])
REFERENCES [dbo].[ESTADOS] ([id_estado])
GO
ALTER TABLE [dbo].[BUTACAS] CHECK CONSTRAINT [fk_estado]
GO
ALTER TABLE [dbo].[BUTACAS]  WITH CHECK ADD  CONSTRAINT [fk_funcion] FOREIGN KEY([id_funcion])
REFERENCES [dbo].[FUNCIONES] ([id_funcion])
GO
ALTER TABLE [dbo].[BUTACAS] CHECK CONSTRAINT [fk_funcion]
GO
ALTER TABLE [dbo].[BUTACAS]  WITH CHECK ADD  CONSTRAINT [fk_pos] FOREIGN KEY([id_posicion])
REFERENCES [dbo].[POSICIONES] ([id_posicion])
GO
ALTER TABLE [dbo].[BUTACAS] CHECK CONSTRAINT [fk_pos]
GO
ALTER TABLE [dbo].[BUTACAS]  WITH CHECK ADD  CONSTRAINT [fk_sala1] FOREIGN KEY([id_sala])
REFERENCES [dbo].[SALAS] ([id_sala])
GO
ALTER TABLE [dbo].[BUTACAS] CHECK CONSTRAINT [fk_sala1]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [fk_barrio] FOREIGN KEY([id_barrio])
REFERENCES [dbo].[BARRIOS] ([id_barrio])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [fk_barrio]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [fk_genero_clien] FOREIGN KEY([id_genero_cliente])
REFERENCES [dbo].[GENERO_CLIENTES] ([id_genero_cliente])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [fk_genero_clien]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [fk_tipo_cliente] FOREIGN KEY([id_tipo_cliente])
REFERENCES [dbo].[TIPO_CLIENTES] ([id_tipo_cliente])
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [fk_tipo_cliente]
GO
ALTER TABLE [dbo].[COMPROBANTES]  WITH CHECK ADD  CONSTRAINT [fk_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTES] ([id_cliente])
GO
ALTER TABLE [dbo].[COMPROBANTES] CHECK CONSTRAINT [fk_cliente]
GO
ALTER TABLE [dbo].[COMPROBANTES]  WITH CHECK ADD  CONSTRAINT [fk_forma_pago] FOREIGN KEY([id_forma_pago])
REFERENCES [dbo].[FORMA_PAGOS] ([id_forma_pago])
GO
ALTER TABLE [dbo].[COMPROBANTES] CHECK CONSTRAINT [fk_forma_pago]
GO
ALTER TABLE [dbo].[DET_COMPROBANTE]  WITH CHECK ADD  CONSTRAINT [fk_butaca1] FOREIGN KEY([id_butaca])
REFERENCES [dbo].[BUTACAS] ([id_butaca])
GO
ALTER TABLE [dbo].[DET_COMPROBANTE] CHECK CONSTRAINT [fk_butaca1]
GO
ALTER TABLE [dbo].[DET_COMPROBANTE]  WITH CHECK ADD  CONSTRAINT [fk_compro] FOREIGN KEY([id_comprobante])
REFERENCES [dbo].[COMPROBANTES] ([id_comprobante])
GO
ALTER TABLE [dbo].[DET_COMPROBANTE] CHECK CONSTRAINT [fk_compro]
GO
ALTER TABLE [dbo].[DET_PELICULAS]  WITH CHECK ADD  CONSTRAINT [fk_actor] FOREIGN KEY([id_actor])
REFERENCES [dbo].[ACTORES] ([id_actor])
GO
ALTER TABLE [dbo].[DET_PELICULAS] CHECK CONSTRAINT [fk_actor]
GO
ALTER TABLE [dbo].[DET_PELICULAS]  WITH CHECK ADD  CONSTRAINT [fk_peli1] FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[PELICULAS] ([id_pelicula])
GO
ALTER TABLE [dbo].[DET_PELICULAS] CHECK CONSTRAINT [fk_peli1]
GO
ALTER TABLE [dbo].[DIRECTORES]  WITH CHECK ADD  CONSTRAINT [fk_pais] FOREIGN KEY([id_pais_origen])
REFERENCES [dbo].[PAISES] ([id_pais])
GO
ALTER TABLE [dbo].[DIRECTORES] CHECK CONSTRAINT [fk_pais]
GO
ALTER TABLE [dbo].[FUNCIONES]  WITH CHECK ADD  CONSTRAINT [fk_peli] FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[PELICULAS] ([id_pelicula])
GO
ALTER TABLE [dbo].[FUNCIONES] CHECK CONSTRAINT [fk_peli]
GO
ALTER TABLE [dbo].[FUNCIONES]  WITH CHECK ADD  CONSTRAINT [fk_sala] FOREIGN KEY([id_sala])
REFERENCES [dbo].[SALAS] ([id_sala])
GO
ALTER TABLE [dbo].[FUNCIONES] CHECK CONSTRAINT [fk_sala]
GO
ALTER TABLE [dbo].[LOCALIDADES]  WITH CHECK ADD  CONSTRAINT [fk_provi] FOREIGN KEY([id_provincia])
REFERENCES [dbo].[PROVINCIAS] ([id_provincia])
GO
ALTER TABLE [dbo].[LOCALIDADES] CHECK CONSTRAINT [fk_provi]
GO
ALTER TABLE [dbo].[PELICULAS]  WITH CHECK ADD  CONSTRAINT [fk_clasi] FOREIGN KEY([id_clasificacion])
REFERENCES [dbo].[CLASIFICACIONES] ([id_clasificacion])
GO
ALTER TABLE [dbo].[PELICULAS] CHECK CONSTRAINT [fk_clasi]
GO
ALTER TABLE [dbo].[PELICULAS]  WITH CHECK ADD  CONSTRAINT [fk_dire] FOREIGN KEY([id_director])
REFERENCES [dbo].[DIRECTORES] ([id_director])
GO
ALTER TABLE [dbo].[PELICULAS] CHECK CONSTRAINT [fk_dire]
GO
ALTER TABLE [dbo].[PELICULAS]  WITH CHECK ADD  CONSTRAINT [fk_genero] FOREIGN KEY([id_genero])
REFERENCES [dbo].[GENEROS] ([id_genero])
GO
ALTER TABLE [dbo].[PELICULAS] CHECK CONSTRAINT [fk_genero]
GO
ALTER TABLE [dbo].[PELICULAS]  WITH CHECK ADD  CONSTRAINT [fk_idioma1] FOREIGN KEY([id_idioma])
REFERENCES [dbo].[IDIOMAS] ([id_idioma])
GO
ALTER TABLE [dbo].[PELICULAS] CHECK CONSTRAINT [fk_idioma1]
GO
ALTER TABLE [dbo].[PELICULAS]  WITH CHECK ADD  CONSTRAINT [fk_produ] FOREIGN KEY([id_produ])
REFERENCES [dbo].[PRODUCTORAS] ([id_productora])
GO
ALTER TABLE [dbo].[PELICULAS] CHECK CONSTRAINT [fk_produ]
GO
ALTER TABLE [dbo].[PELICULAS]  WITH CHECK ADD  CONSTRAINT [fk_sub] FOREIGN KEY([id_subtitulo])
REFERENCES [dbo].[SUBTITULOS] ([id_subtitulo])
GO
ALTER TABLE [dbo].[PELICULAS] CHECK CONSTRAINT [fk_sub]
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD  CONSTRAINT [fk_butaca] FOREIGN KEY([id_butaca])
REFERENCES [dbo].[BUTACAS] ([id_butaca])
GO
ALTER TABLE [dbo].[RESERVAS] CHECK CONSTRAINT [fk_butaca]
GO
ALTER TABLE [dbo].[SALAS]  WITH CHECK ADD  CONSTRAINT [fk_tipo_sala] FOREIGN KEY([id_tipo_sala])
REFERENCES [dbo].[TIPO_SALAS] ([id_tipo_sala])
GO
ALTER TABLE [dbo].[SALAS] CHECK CONSTRAINT [fk_tipo_sala]
GO
ALTER TABLE [dbo].[SUBTITULOS]  WITH CHECK ADD  CONSTRAINT [fk_idioma] FOREIGN KEY([id_idioma])
REFERENCES [dbo].[IDIOMAS] ([id_idioma])
GO
ALTER TABLE [dbo].[SUBTITULOS] CHECK CONSTRAINT [fk_idioma]
GO
ALTER TABLE [dbo].[TIPO_CLIENTES]  WITH CHECK ADD  CONSTRAINT [fk_promo] FOREIGN KEY([id_promocion])
REFERENCES [dbo].[PROMOCIONES] ([id_promocion])
GO
ALTER TABLE [dbo].[TIPO_CLIENTES] CHECK CONSTRAINT [fk_promo]
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_BUTACA]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_ACTUALIZAR_BUTACA] 
	@id_butaca int,
	@estado varchar(255)
as
begin
	update butacas set id_estado =
		case
			when @estado = 'Libre' then 1
			when @estado = 'Ocupada' then 2
			when @estado = 'Reservada' then 3
		end
	where id_butaca = @id_butaca
end 
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_comprobante]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_actualizar_comprobante]
	@id_comprobante int
as
begin
	delete det_comprobante
	where @id_comprobante = id_comprobante
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_BARRIOS]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CONSULTAR_BARRIOS]
as
begin
	select * from barrios
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_BUTACAS]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CONSULTAR_BUTACAS]
	@id_funcion int
as
begin
	select id_butaca, tipo_sala, estado, bu.id_funcion, nro_butaca
	from BUTACAS bu
	join SALAS sa on sa.id_sala = bu.id_sala
	join TIPO_SALAS ts on ts.id_tipo_sala = sa.id_tipo_sala
	join ESTADOS es on es.id_estado = bu.id_estado
	join FUNCIONES fu on fu.id_funcion = bu.id_funcion
	where fu.id_funcion = @id_funcion
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_CLIENTE]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CONSULTAR_CLIENTE]
	@id_cliente INT
AS
BEGIN
	SELECT *
	FROM clientes
	WHERE id_cliente = @id_cliente
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_CLIENTES]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CONSULTAR_CLIENTES]
	@nombre VARCHAR(50),
	@apellido VARCHAR(50),
	@dni INT,
	@inactivo VARCHAR(1),
	@baja VARCHAR(1)
AS
BEGIN
	SELECT id_cliente, nombre, apellido, dni, mail, telefono, fecha_nac, calle, nro, barrio, tipo_cliente, genero_cliente, fecha_alta, fecha_baja
	FROM clientes cl
	JOIN barrios ba on ba.id_barrio = cl.id_barrio
	JOIN tipo_clientes tc on tc.id_tipo_cliente = cl.id_tipo_cliente
	JOIN genero_clientes gc on gc.id_genero_cliente = cl.id_genero_cliente
	WHERE (@nombre IS NULL OR nombre LIKE '%' + @nombre + '%')
	AND (@apellido IS NULL OR apellido LIKE '%' + @apellido + '%')
	AND (@dni IS NULL OR dni = @dni)
	AND (@inactivo IS NULL OR (@inactivo = 'S' AND (SELECT TOP 1 fecha
		FROM comprobantes co
		WHERE co.id_cliente = cl.id_cliente
		ORDER BY fecha DESC) < DATEADD(YEAR, -1, GETDATE())))
	AND ((@baja IS NULL AND fecha_baja IS NULL) OR (@baja = 'S' AND fecha_baja IS NOT NULL))
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_consultar_comprobante]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_consultar_comprobante]
	@id_comprobante int
as
begin
	select cp.id_comprobante, cp.fecha cp_fecha, cl.id_cliente, nombre, apellido, fn.id_funcion, titulo, fn.fecha fn_fecha, hora_inicio, tipo_sala, fp.id_forma_pago, forma_pago, tc.id_tipo_cliente, tipo_cliente, precio_entrada, dc.id_det_comprobante, bt.id_butaca, idioma = 
		case doblaje 
			when 0 then 'Original'
			when 1 then 'Doblado' 
			else '¿?'
		end
	from comprobantes cp
	join clientes cl on cp.id_cliente = cl.id_cliente 
	join det_comprobante dc on cp.id_comprobante = dc.id_comprobante
	join butacas bt on dc.id_butaca = bt.id_butaca
	join funciones fn on bt.id_funcion = fn.id_funcion
	join forma_pagos fp on cp.id_forma_pago = fp.id_forma_pago
	join peliculas pl on fn.id_pelicula = pl.id_pelicula
	join salas sl on fn.id_sala = sl.id_sala
	join tipo_salas ts on sl.id_tipo_sala = ts.id_tipo_sala
	join tipo_clientes tc on cl.id_tipo_cliente = tc.id_tipo_cliente
	join promociones pr on tc.id_promocion = pr.id_promocion
	where cp.id_comprobante = @id_comprobante
end
GO
/****** Object:  StoredProcedure [dbo].[sp_consultar_comprobantes]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_consultar_comprobantes]
	@fecha_desde datetime = null,
	@fecha_hasta datetime = null,
	@id_cliente int = null,
	@con_final bit = null
as
begin
	select cp.id_comprobante, fecha, cl.id_cliente, nombre, apellido, count(dc.id_det_comprobante) cant_entradas, sum(precio_entrada) precio_total
	from comprobantes cp
	left join det_comprobante dc on cp.id_comprobante = dc.id_comprobante
	left join clientes cl on cp.id_cliente = cl.id_cliente
	where (@con_final = 0 and cl.id_cliente is null 
		and (@fecha_desde is null or @fecha_desde <= fecha)
		and (@fecha_hasta is null or @fecha_hasta >= fecha)) 
	or (@con_final is null 
		and (@fecha_desde is null or @fecha_desde <= fecha)
		and (@fecha_hasta is null or @fecha_hasta >= fecha)
		and (@id_cliente is null or @id_cliente = cl.id_cliente))
	group by cp.id_comprobante, fecha, cl.id_cliente, nombre, apellido
	order by cp.id_comprobante
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_FORMAS_PAGO]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CONSULTAR_FORMAS_PAGO]
as
begin
	select * from FORMA_PAGOS
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_FUNCIONES]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CONSULTAR_FUNCIONES]
as
begin
	
	select id_funcion, titulo Titulo, fecha Fecha, hora_inicio Hora, tipo_sala Sala, Idioma =
		case doblaje 
			when 0 then 'Original'
			when 1 then 'Doblado' 
			else '¿?'
		end
	from PELICULAS pe
	join FUNCIONES fu on fu.id_pelicula = pe.id_pelicula
	join SALAS sa on sa.id_sala = fu.id_sala
	join TIPO_SALAS ts on ts.id_tipo_sala = sa.id_tipo_sala
	order by 1
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTAR_TIPOS_CLIENTES]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CONSULTAR_TIPOS_CLIENTES]
as
begin
	select * from tipo_clientes
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_CLIENTE]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ELIMINAR_CLIENTE] 
	@id_cliente int
AS
BEGIN
	UPDATE CLIENTES SET fecha_baja = GETDATE()
	WHERE id_cliente = @id_cliente;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_CLIENTE]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTAR_CLIENTE]
    @nombre VARCHAR(50),
	@apellido varchar(50),
	@dni int,
	@mail varchar(50),
	@telefono varchar(50),
    @fecha_nac datetime,
	@calle varchar(50),
	@nro int,
	@id_barrio int,
    @id_genero_cliente int,
	@id_tipo_cliente int
AS
BEGIN
    INSERT INTO CLIENTES (nombre, apellido, dni, mail, telefono, fecha_nac, calle, nro, id_barrio, id_genero_cliente, id_tipo_cliente, fecha_alta) 
	VALUES (@nombre, @apellido, @dni, @mail, @telefono, @fecha_nac, @calle, @nro, @id_barrio, @id_genero_cliente, @id_tipo_cliente, GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_COMPROBANTE]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_INSERTAR_COMPROBANTE]
	@id_cliente int,
	@id_forma_pago int,
	@id_comprobante int output
as
begin
	insert into comprobantes (fecha, id_cliente, id_forma_pago) values
	(getdate(), @id_cliente, @id_forma_pago)
	set @id_comprobante = scope_identity();
end
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_DETALLE]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_INSERTAR_DETALLE]
	@precio_entrada decimal(10,2),
	@id_comprobante int,
	@id_butaca int
as
begin
	insert into det_comprobante (precio_entrada, id_comprobante, id_butaca) values
	(@precio_entrada, @id_comprobante, @id_butaca)
end	
GO
/****** Object:  StoredProcedure [dbo].[SP_MODIFICAR_CLIENTE]    Script Date: 19/11/2023 20:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MODIFICAR_CLIENTE]
	@id_cliente INT,
	@telefono VARCHAR(255),
	@mail VARCHAR(255),
	@calle VARCHAR(255),
	@nro INT NULL,
	@id_barrio INT,
	@id_tipo INT,
	@fecha_baja DATETIME
AS
BEGIN
	UPDATE CLIENTES 
	SET telefono = @telefono, mail = @mail, calle = @calle, nro = @nro, id_barrio = @id_barrio, id_tipo_cliente = @id_tipo, fecha_baja = @fecha_baja
	WHERE id_cliente = @id_cliente
END
GO
USE [master]
GO
